<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests" parallel="classes" thread-count="4">
    <listeners>
        <listener class-name="com.api.automation.utils.ReportUtil"/>
    </listeners>
    <test name="API">
        <packages>
            <package name="com.api.automation.tests"/>
        </packages>
    </test>
</suite>