<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Reqres API Test Suite">
    <test name="User API Tests">
        <classes>
            <class name="com.api.automation.tests.UserApiTest"/>
        </classes>
    </test>
    
    <test name="Resource API Tests">
        <classes>
            <class name="com.api.automation.tests.ResourceApiTest"/>
        </classes>
    </test>
    
    <test name="Auth API Tests">
        <classes>
            <class name="com.api.automation.tests.AuthApiTest"/>
        </classes>
    </test>
    
    <test name="Delayed Response Tests">
        <classes>
            <class name="com.api.automation.tests.DelayedResponseTest"/>
        </classes>
    </test>
</suite> 